body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: "Noto Sans", sans-serif;

  background: linear-gradient(to right, #e9eff6, #dfe6f2);
}

#modal {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  width: 100%;
  max-width: 1280px;
}

#root {
  display: grid;
  grid-template-columns: 250px 310px 1fr;

  width: 100%;
  max-width: 1280px;
  height: 700px;
  margin: 0 auto;

  background-color: #090e11;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
}

button {
  cursor: pointer;

  padding: 0;

  background-color: transparent;
  border: none;
}

@media screen and (max-height: 700px) {
  body {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  #root {
    grid-template-columns: auto 310px 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #root {
    grid-template-columns: auto 1fr;
  }
}