body {
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(to right, #E9EFF6, #DFE6F2);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  width: 100%;
  max-width: 1280px;
  position: absolute;
}

#root {
  margin: 0 auto;
  background-color: #090E11;
  height: 700px;
  width: 1280px;
  display: grid;
  grid-template-columns: 250px 310px 1fr;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 990px) {
  // #modal {
  //   width: 100%;
  // }
}

@media screen and (max-width: 770px) {
  // #modal {
  //   width: 100%;
  // }
}