.btn {
  width: 24px;
  height: 24px;
}

.btn svg {
  fill: transparent;
}

.active svg {
  fill: red;
  stroke: red;
}

.btn svg:hover {
  fill: red;
  stroke: red;

  transition: 0.3s;

  scale: 1.1;
}