.wrapper {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 12px 15px;

  border-radius: 3%;
}

.chosen {
  background-color: #7961fb;
}

.name {
  margin: 0 auto 0 12px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

.count {
  font-size: 12px;
  color: #727577;
}

.chosen .count {
  color: #fff;
}

.wrapper:hover {
  background-color: #7961fb;

  transition: 0.3s;
}

.wrapper:hover .count {
  color: #fff;

  transition: 0.3s;
}