.wrapper {
  box-sizing: border-box;
  padding: 25px 50px 30px;
}

.languages {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  gap: 0 25px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.lang {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-right: 10px;
    padding-left: 0;
  }
}