.wrapper {
  padding: 25px 50px 30px 50px;
  box-sizing: border-box;
}

.languages {
  width: 205px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.lang {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 0;
    padding-right: 10px;
  }
}