.modal {
  overflow-y: auto;

  // gap: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  background-color: #090e11;
}

.search {
  display: block;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  font-size: 16px;
  color: #fff;

  background-color: transparent;
  border: none;
  outline: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;

  border-bottom: 2px solid #fff;
}

.wrapper {
  box-sizing: border-box;
  height: auto;
}

.lang {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 170px;
  height: 30px;
  margin: 0;
  padding-left: 10px;

  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.err {
  margin: 0;

  font-size: 25px;
  color: #fff;
}

.lang:hover {
  background-color: #7961fb;
}

.chosen {
  background-color: #7961fb;
}

@media screen and (max-width: 770px) {
  .wrapper {
    column-count: 1;
  }

  .lang {
    width: 100%;
    padding-left: 25px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .wrapper {
    column-count: 4;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    column-count: 6;

    height: 720px;
  }
}