.modal {
  position: absolute;
  background-color: #090E11;
  width: 100%;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  gap: 5px;
  box-sizing: border-box;
  padding: 20px 20px;
}

.search {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
}

.clearBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  align-items: center;
  margin-bottom: 10px;
}

.wrapper {
  box-sizing: border-box;
  column-count: 6;
  height: 720px;
}

.lang {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
  width: 170px;
  padding-left: 10px;
  box-sizing: border-box;
  height: 30px;
  line-height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
}

.lang:hover {
  background-color: #7961FB;
}

.chosen {
  background-color: #7961FB;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    column-count: 4;
  }
}

@media screen and (max-width: 770px) {
  .wrapper {
    column-count: 1;
  }

  .lang {
    width: 100%;
    padding-left: 25px;
  }
}