.header {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100%;
  padding: 25px 25px 30px;

  background-color: #1e2225;
}

.headling {
  margin: 0 0 15px 15px;

  font-size: 16px;
  color: #636567;
}

.list {
  margin: 0;
  padding: 0;
}

.languages {
  scrollbar-color: #7961fb #1e2225;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  overflow-y: auto;

  height: min-content;
  max-height: 450px;
}

@media screen and (max-width: 1200px) {
  .header {
    display: none;
  }
}

.visible {
  display: flex;
}