.element {
  cursor: pointer;

  box-sizing: border-box;
  padding: 25px;

  border-radius: 15px;
}

.element:hover {
  background-color: #1e2225;

  transition: 0.3s;
}

.text {
  overflow: hidden;

  margin: 0;

  color: #b3b4b6;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.from {
  margin-bottom: 5px;

  font-weight: 500;
  color: #fff;
}

.inner {
  display: flex;
  gap: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.outter {
  display: flex;
  justify-content: space-between;

  margin-top: 15px;
}

.lang {
  font-size: 14px;
  line-height: 24px;
  color: #414548;
}