.history {
  scrollbar-color: #7961fb #1e2225;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  box-sizing: border-box;
  padding: 0 20px 30px;

  background-color: #111619;
}

@media screen and (max-width: 1024px) {
  .history {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .history {
    height: 700px;
    padding: 0;
  }
}

.visible {
  display: flex;
}